@media (min-width: 320px) and (max-width: 480px) {
  header {
    display: inline-block;
  }

  nav ul {
    display: inline-block;
    margin-top: 0px;
  }

  #search {
    padding: 0px;
  }

  #checkout {
    padding: 0px;
  }

  .jackets h1 {
    margin-top: 250px;
    margin-left: 45px;
  }

  .jackets h2 {
    margin-left: 45px;
  }

  .welcome img {
    display: none;
  }

  .welcome__content {
    top: 36px;
    left: 115px;
    font-size: 12px;
  }

  .content {
    max-width: 320px;
  }

  .featured {
    display: block;
  }

  .featured img {
    width: 80vw;
    height: 80vh;
  }

  .featured2 {
    display: inline-block;
  }

  .featured2 img {
    width: 80vw;
    height: 80vh;
  }

  .specific_grid {
    display: block;
    margin-top: 230px;
  }

  .checkout {
    display: inline-block;
    margin-top: 230px;
  }

  .form {
    margin-left: 10px;
  }

  .fieldset {
    margin-left: 10px;
  }

  .checkout_cta {
    position: relative;
    left: 20px;
    top: 16px;
  }

  .success {
    background-size: cover;
  }

  .success__content {
    font-size: 1em;
  }

  .search_page img {
    margin-top: 150px;
  }

  #search_field {
    height: 30px;
    width: 225px;
    top: 380px;
    left: 60px;
  }

  .contact_picture {
    display: none;
  }

  .contacts {
    display: grid;
    margin-top: 240px;
  }
}

@media (min-width: 481px) and (max-width: 799px) {
  header {
    display: inline-block;
  }

  nav ul {
    display: inline-block;
    margin-top: 0px;
  }

  #search {
    padding: 0px;
  }

  #checkout {
    padding: 0px;
  }

  .welcome__content {
    top: 10px;
    left: 8px;
    font-size: 25px;
  }

  .content {
    max-width: 460px;
  }

  .featured {
    display: block;
  }

  .featured img {
    width: 80vw;
    height: 80vh;
  }

  .jackets h1 {
    margin-top: 250px;
    margin-left: 45px;
  }

  .jackets h2 {
    margin-left: 45px;
  }

  .featured2 {
    display: inline-block;
    margin-left: 45px;
  }

  .featured2 img {
    width: 80vw;
    height: 80vh;
  }

  .specific_grid {
    display: block;
    margin-top: 230px;
  }

  .checkout {
    display: inline-block;
    margin-top: 230px;
  }

  .form {
    margin-left: 10px;
  }

  .fieldset {
    margin-left: 10px;
  }

  .checkout_cta {
    position: relative;
    left: 20px;
    top: 16px;
  }

  .success {
    background-size: cover;
    margin-top: 110px;
  }

  .success__content {
    font-size: 1em;
    margin-top: -22px;
  }

  .contact_picture {
    display: none;
  }

  .contacts {
    display: grid;
    margin-top: 240px;
  }

  #search_field {
    height: 30px;
    width: 225px;
    top: 255px;
    left: 38px;
  }
}

@media (min-width: 800px) and (max-width: 1199px) {
  header main {
    max-width: 100vw;
  }

  #logo {
    margin-right: 0px;
  }

  header {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    padding: 0px;
  }

  #search {
    padding: 25px 25px 0px 0px;
  }

  #checkout {
    padding: 0px;
  }

  .welcome__content {
    top: 75px;
    left: 6px;
    font-size: 15px;
  }

  .content {
    max-width: 780px;
  }

  .featured {
    display: block;
  }

  .featured img {
    width: 80vw;
    height: 80vh;
  }

  .jackets h1 {
    margin-top: 110px;
    margin-left: 4px;
  }

  .jackets h2 {
    margin-left: 4px;
  }

  .featured2 {
    display: flex;
    grid-template-columns: 100px 100px 100px 100px;
    column-gap: 54px;
    margin-left: 30px;
    flex-wrap: wrap;
  }

  .specific_grid {
    margin-left: -62px;
  }

  .checkout {
    grid-gap: 5px;
    margin: 5px;
    margin-top: 40px;
  }

  form {
    max-width: 200px;
    margin-left: 7px;
    padding: 11px 23px 19px 10px;
  }

  fieldset {
    width: 185px;
  }

  .review {
    max-width: 223px;
    margin-left: -52px;
  }

  .checkout_cta {
    width: 139px;
    left: 564px;
    top: 527px;
  }

  .success {
    background-size: cover;
  }

  .contact_picture {
    width: 790px;
    margin-left: 5px;
  }

  #search_field {
    width: 588px;
    top: 268px;
    left: 12px;
  }
}
