.jackets {
  margin-top: -20px;
}

.jackets > * {
  color: var(--dark-green-color);
  font-weight: bold;
  margin-left: 115px;
  text-align: center;
}

.featured2 {
  max-width: 1000px;
  display: grid;
  margin-left: 120px;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-gap: 20px;
  background-color: var(--white-color);
  align-items: center;
  flex: 1;
}

.under-img {
  font-size: 0.9em;
  margin: 5px;
  color: var(--dark-green-color);
}

.products img {
  float: left;
  width: 150px;
  height: 100px;
  object-fit: cover;
}

.card {
  float: left;
  width: 150px;
  height: 100px;
  object-fit: cover;
}

.products h2,
.products p {
  font-size: 0.9em;
  margin: 5px;
  text-align: center;
}

.products p {
  padding: 0px 5px;
  margin-top: 0px;
}
