/* Search page */

.search_page img {
  background-size: cover;
  width: 100%;
  max-height: 50vw;
  filter: blur(3px);
}

#search_field {
  position: absolute;
  text-align: center;
  height: 60px;
  width: 600px;
  border: 10px solid var(--grey-color);
  border-radius: 50px;
  top: 300px;
  left: 180px;
  z-index: 1;
}

#search_icon {
  position: absolute;
  z-index: 2;
  width: 40px;
  height: 40px;
  top: 325px;
  left: 720px;
}
