@font-face {
  font-family: "mic-32-new-web", Verdana, sans-serif;
  src: url("https://use.typekit.net/af/47ed3b/000000000000000077359c65/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
    format("woff2");
}

:root {
  --green-color: #067a6f;
}

#logo {
  display: inline-block;
  height: 100px;
  width: 207px;
  margin-right: 25px;
  align-items: initial;
}

#search {
  display: inline-block;
  height: 50px;
  width: 50px;
  padding: 25px 25px 0px 100px;
  margin-bottom: -12px;
}

#checkout {
  display: inline-block;
  height: 50px;
  width: 50px;
  padding: 25px 25px 0px 70px;
  margin-bottom: 0px;
  opacity: 60%;
}

header {
  display: flex;
  align-items: flex-end;
  height: 110px;
}

.menu_list {
  display: flex;
  height: 108px;
}

header a {
  display: flex;
  align-items: flex-end;
  background-color: white;
  color: var(--green-color);
  padding: 0px 25px 0px 25px;
  font-size: 30px;
  font-weight: bolder;
}

nav {
  margin-left: 25px;
}

nav ul {
  padding: 25px 25px 0px 0px;
  display: flex;
  align-items: flex-end;
  list-style-type: none;
}

nav li {
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

.nav_end {
  display: flex;
  justify-content: flex-end;
}

.active {
  text-decoration: underline;
}

body {
  font-family: "Mic 32 New";
  min-height: 100vh;
  max-width: 1600px;
  margin: 0px auto;
  display: grid;
  -ms-grid-row-align: end;
  grid-template-rows: auto;
}

/* Footer */

footer {
  height: 10px;
  display: flex;
  justify-content: right;
  font-size: 0.8em;
  padding: -10px;
}
