@font-face {
  font-family: "mic-32-new-web", Verdana, sans-serif;
  src: url(https://use.typekit.net/ocq6hsb.css);
}

:root {
  --green-color: #067a6f;
}

#logo {
  display: inline-block;
  height: 120px;
  width: 250px;
  margin-right: 25px;
  align-items: initial;
}

#search {
  display: inline-block;
  height: 50px;
  width: 50px;
  padding: 25px 25px 0px 200px;
  margin-bottom: -12px;
}

#checkout {
  display: inline-block;
  height: 50px;
  width: 50px;
  padding: 25px 25px 0px 50px;
  margin-bottom: 0px;
}

header {
  display: flex;
  align-items: flex-end;
  min-height: 122px;
}

header a {
  display: flex;
  align-items: flex-end;
  background-color: white;
  color: var(--green-color);
  padding: 25px 25px 0px 25px;
  font-size: 30px;
  font-weight: bolder;
}

nav {
  margin-left: 25px;
}

nav ul {
  padding: 25px 25px 0px 0px;
  display: flex;
  align-items: flex-end;
  list-style-type: none;
}

nav li {
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

.nav_end {
  display: flex;
  justify-content: flex-end;
}

body {
  font-family: "Mic 32 New";
  min-height: 100vh;
  max-width: 1600px;
  margin: 0px auto;
  display: grid;
  -ms-grid-row-align: end;
  grid-template-rows: auto;
}

/* Home page */
.welcome {
  background-image: url("../images/wideimagecomp1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  min-height: 70vh;
  position: relative;
}

.welcome__content {
  position: absolute;
  text-align: center;
  top: 10px;
  left: 180px;
  color: #023530;
  font-size: 40px;
}

.cta {
  background-color: white;
  opacity: 82%;
  color: #023530;
  font-size: 1em;
  padding: 10px 42px;
  font-weight: bold;
}

.content {
  text-align: center;
  padding: 5px;
  font-size: 30px;
  word-wrap: break-word;
  color: var(--green-color);
}

p {
  padding: 2px;
  margin: 2px;
}

.products {
  background-color: white;
  align-items: center;
  flex: 1;
}

.products h2,
.products p {
  font-size: 0.9em;
  margin: 5px;
  text-align: center;
}

.products p {
  padding: 0px 5px;
  margin-top: 0px;
}

.featured {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  max-width: 1000px;
  margin: 10px auto;
  grid-gap: 10px;
  flex-wrap: wrap;
}

.featured img {
  object-fit: cover;
  width: 100%;
  height: 150px;
}

.success {
  background-size: 50vw 33vw;
  background-repeat: no-repeat;
  background-position: center;
  height: 33vw;
  overflow: hidden;
}

.success__content {
  display: block;
  text-align: center;
  font-size: 1.8em;
  color: rgb(46, 45, 45);
}

.contacts {
  display: flex;
  justify-content: space-evenly;
}

.contact_img {
  background-size: cover;
  width: 100%;
  max-height: 50vw;
}

.contact_points {
  display: inline-block;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact_points img {
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.contact_points h3 {
  grid-column: 1;
  font-size: 0.8em;
  margin: 5px;
  text-align: center;
  max-width: 150px;
}
/*Product Pages*/
footer {
  border-top: 1px solid;
  border-color: #475251;
}

footer p {
  text-align: right;
  padding: 20px;
}

footer a {
  display: flex;
  text-align: left;
  font-size: 1.5em;
  font-weight: bolder;
  padding: 20px;
  color: #475251;
  align-items: center;
}

@media (max-width: 800px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  header main {
    max-width: 100vw;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  .featured {
    flex-direction: column;
    align-items: center;
  }

  .featured img {
    width: 80vw;
    height: 80vh;
  }
  #logo {
    margin-right: 0px;
  }
}
