@import "imports/links.css";

@font-face {
  font-family: "mic-32-new-web", Verdana, sans-serif;
  src: url("https://use.typekit.net/af/47ed3b/000000000000000077359c65/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
    format("woff2");
}

:root {
  --green-color: #02645b;
  --dark-green-color: #023530;
  --light-green-color: #067a6f;
  --orange-color: #f28705;
  --white-color: #fff;
  --grey-color: #ccc;
}

#logo {
  display: inline-block;
  height: 100px;
  width: 207px;
  margin-right: 25px;
  align-items: initial;
}

#search {
  display: inline-block;
  height: 45px;
  width: 45px;
  padding: 25px 25px 0px 100px;
  margin-bottom: -12px;
}

#search_field {
  border: 5px solid orange;
  margin-left: 50px;
  margin-right: -100px;
}

#checkout {
  display: inline-block;
  height: 50px;
  width: 50px;
  padding: 25px 25px 0px 70px;
  margin-bottom: 0px;
  opacity: 60%;
}

header {
  display: flex;
  align-items: flex-end;
  height: 110px;
}

.menu_list {
  display: flex;
  height: 108px;
}

nav {
  /* display: none; */
  margin-left: 25px;
}

nav ul {
  padding: 25px 25px 0px 0px;
  display: flex;
  align-items: flex-end;
  list-style-type: none;
}

nav li {
  vertical-align: bottom;
}

.nav_end {
  display: flex;
  justify-content: flex-end;
}

body {
  font-family: "mic-32-new-web";
  min-height: 100vh;
  max-width: 1600px;
  margin: 0px auto;
  display: grid;
  -ms-grid-row-align: end;
  grid-template-rows: auto;
}

footer {
  height: 10px;
  display: flex;
  justify-content: right;
  font-size: 0.8em;
  padding: -10px;
}

.footer__line {
  background-color: #39463de8;
  height: 220px;
  width: 100%;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 20px;
  color: #fff;
  font-size: 15px;
}

.footer p {
  color: white;
}

a {
  color: #fff;
}