/* Links */
header a {
  display: flex;
  align-items: flex-end;
  background-color: var(--white-color);
  color: var(--green-color);
  padding: 0px 25px 0px 25px;
  font-size: 30px;
  font-weight: bolder;
}

a {
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

.welcome_cta {
  background-color: var(--white-color);
  opacity: 82%;
  color: var(--dark-green-color);
  font-size: 1em;
  padding: 10px 42px;
  font-weight: bold;
}

.welcome_cta:hover {
  background: rgb(132, 165, 162);
}

.addtocart_cta {
  background-color: var(--green-color);
  color: var(--white-color);
  font-size: 1.3em;
  padding: 2px 40px;
  margin-left: 10px;
  font-weight: bold;
  border: 1px solid var(--grey-color);
}

.addtocart_cta:hover {
  background: rgb(63, 155, 146);
}

.checkout_cta {
  background-color: #55b5a6;
  color: var(--white-color);
  font-size: 15px;
  padding: 10px 42px;
  font-weight: bold;
  border: 1px solid var(--grey-color);
  /* grid-column: 3 / 4;
  position: absolute; */
  width: 220px;
  /* left: 650px;
  top: 550px; */
  text-align: center;
}

.checkout_cta:hover {
  background: rgb(5, 87, 79);
}
